<p>
ヘッダー
<div class="menubar" id="admin_menubar">
<%= link_to "user", :users %>
&nbsp;|&nbsp; <%= link_to "Chat", :chat_index %>
&nbsp;|&nbsp; <%= link_to "ChatRoom", :rooms %>
&nbsp;|&nbsp; <%= link_to "TOP", :root %>
</div>
</p>
